body {
    padding: 2.5%;
}

.body-questions {
    display: flex;
}

.description {
    width: 30%;
}

.questions {
    width: 70%;
    display: grid;
    grid-template-columns: 15% 15%;
    grid-template-rows: repeat(4, 100%);
    row-gap: 5%;
    column-gap: .5%;
    margin-top: 5%;

}

.questions .questions-onequestion {
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    border: 1px solid black;
    
}

.questions-onequestion h4, .questions-onequestion p {
    margin: 0;
}