body {
    padding: 5rem;
}

.body-questions {
    display: flex;
    gap: 5rem;
}

.description {
    width: 35rem;
}

.questions {
    width: 70rem;
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: repeat(4, 100%);
    row-gap: 2.5%;
    column-gap: .5%;
    margin-top: 5%;

}

.questions .questions-onequestion {
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    border: 1px solid black;
    
}

.questions-onequestion h4, .questions-onequestion p {
    margin: 0;
}

@media (max-width: 630px) {
    .questions {
        width: auto;
        grid-template-columns: auto;
    }
}

@media (max-width: 800px){
    .body-questions {
        display: block;
    }

    .questions {
        width: auto;
        grid-template-columns: 30rem;
    }

    .description {
        width: auto;
    }
}


@media (max-width: 1100px) and (min-width: 801px){
    .questions {
        width: 35rem;
        grid-template-columns: 20rem;
    }
    
}



